@import url("../../css/global.css");


.nameSection {
  white-space: nowrap;
}
.textAbout {
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
}
.cards {
  margin-top: 30px;
  border-left: 4px solid #e6e6f0;
  gap: 40px;
  padding-left: 30px;
  margin-bottom: 30px;
}

.cardAbout > svg {
  float: left;
  margin-right: 12px;
}
.cardAbout p {
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #323264;
}
h2.redGradient {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.bgAbout {
  margin-bottom: 60px;
}
.achievments {
  background-color: #f5f5fa;
  padding-bottom: 30px;
}
h3.textAchievment {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
  padding-top: 30px;
  padding-bottom: 30px;
}
.bgSlider {
  background-color: #ffffff;
  border-radius: 12px;
  height: 90px;
  display: flex;
  margin-right: 30px;
  margin-left: 30px;
}
.bgSlider > img {
  margin: 25px auto;
  max-height: 40px;
}
.slick-dots li.slick-active button:before {
  color: #24a3ff;
}
.slick-dots li button:before {
  font-size: 16px;
  opacity: 0.2;
  color: #24a3ff;
}
.slick-dots {
  bottom: -55px;
}
.bgPhoto {
  background: url("../../Images/Team.jpg") no-repeat center/cover;
  max-width: 100%;
  height: 17.2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bgPhoto > p {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  letter-spacing: 13px;
  color: #ffffff;
  opacity: 0.8;
  text-shadow: 0px 15px 30px rgba(40, 40, 86, 0.8);
}
.secondAbout {
  margin-top: 30px;
}
