.bg-footer {
    background-color: #f5f5fa;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .footer {
    text-align: center;
    align-items: center;
    gap: 25px;
  }
  .footer.borderLine {
    border-top: 4px solid #e6e6f0;
    padding-top: 30px;
  }
  .adress {
    font-weight: 400;
    color: #323264;
  }
  .onMap {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--text-color-blue);
  }
  .svgFB > svg > path:hover,
  .fb > path:hover {
    fill: var(--fill-color);
  }
  .phone {
    color: #46466e;
  }
  .email {
    color: var(--text-color-blue);
  }
  .email:hover,
  .onMap:hover {
    color: var(--fill-color);
  }
  
  .copyRight {
    font-weight: 400;
    color: #b3b3ba;
  }
  @media (min-width: 768px) {
    .footerAdress,
    .footerContact {
      width: 100%;
      flex-direction: row;
      align-items: center;
      padding-left: 125px;
    }
  }
  @media (min-width: 1024px) {
    .footerAdress,
    .footerContact {
      padding-left: 0;
    }
    .footerAdress {
      order: 1;
      flex: 1;
    }
    .footerContact {
      order: 3;
    }
    .copyRight {
      order: 2;
    }
    .footer {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
  